<div class="banner-researches-new" style="background-image: url(https://i.pinimg.com/originals/ab/9b/0c/ab9b0c19cb3cccf64109877c88d2c26e.jpg)"></div>
  <div class="container">
    <div class="researches-new">
      <div class="New research-now-pic mb-3">
         <h2 class="mt-3"><%= @research.category %></h2>

  <div class="container">
    <%= simple_form_for @research do |f| %>
      <div class="form--header-container">
        <h1 class="form--header-title">What do you want to recycle ?</h1>
        <p class="form--header-text">Find the right location</p>
      </div>
      <%= f.input :query %>
      <%= f.association :category %>
      <%= f.button :submit, class: "form__btn"%>
    <% end %>
  </div>
</div>