<div class="banner-researches" style="background-image: url(https://image.freepik.com/vecteurs-libre/personnes-recyclant-differents-produits_23-2148513118.jpg)"></div>
  <div class= "research-content m-3">
    <div class="researches-show">
      <div class="Solutions-show-pic mb-3">
        <h3 class="mt-2"><%= @research.solution.object_name %></h3>
        <%= @research.solution.first_content %>
      </div>
    </div>

    <div class="card-solution mt-2 mb-2">
      <% if @research.solution.category.id == 1 && @research.solution.bien_jeter.include?("verte") %>
        <%= cl_image_tag("trash-plastic.png") %>
      <% elsif @research.solution.category.id == 1 && @research.solution.bien_jeter.include?("noire") %>
        <%= cl_image_tag("trash-black.png") %>
      <% elsif @research.solution.category.id == 2 && @research.solution.bien_jeter.include?("verte") %>
        <%= cl_image_tag("trash-paper.png") %>
      <% elsif @research.solution.category.id == 2 && @research.solution.bien_jeter.include?("noire") %>
        <%= cl_image_tag("trash-black.png") %>
      <% elsif @research.solution.category.id == 3 && @research.solution.bien_jeter.include?("volontaire") %>
        <%= cl_image_tag("trash-glass.png") %>
      <% elsif @research.solution.category.id == 3 && @research.solution.bien_jeter.include?("noire") %>
        <%= cl_image_tag("trash-noire.png") %>
      <% elsif @research.solution.category.id == 4 && @research.solution.bien_jeter.include?("verte") %>
        <%= cl_image_tag("trash-paper.png") %>
      <% elsif @research.solution.category.id == 4 && @research.solution.bien_jeter.include?("noire") %>
        <%= cl_image_tag("trash-black.png") %>
      <% elsif @research.solution.category.id== 5 && @research.solution.bien_jeter.include?("verte") %>
        <%= cl_image_tag("trash-metal.png") %>
      <% elsif @research.solution.category.id == 5 && @research.solution.bien_jeter.include?("noire") %>
        <%= cl_image_tag("trash-black.png") %>
      <% else %>
        <%= cl_image_tag("trash-black.png") %>
      <% end %>

      <div class="card-solution-description">
        <h4>Solution</h4>
        <h6><strong> Bien jeter : </strong> <%= @research.solution.bien_jeter %></h6>
        <%= link_to "Retour", new_research_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
<!--
plastic = 1
box = 2
glass = 3
packaging_and_paper = 4
aluminium = 5
 -->
