
<div class="banner-researches" style="background-image: url(https://image.freepik.com/vecteurs-libre/personnes-recyclant-differents-produits_23-2148513118.jpg)"></div>
  <div class="container">
    <div class="researches-show">
      <div class="Solutions-show-pic mb-3">
        <h2 class="mt-2"><%= @research.solution.object_name %></h2>
        <%= @research.solution.first_content %>
      </div>
    </div>

    <div class="card-solution m-1">
      <% if params["category_id"] == "1" %>
        <%= cl_image_tag ("trash-plastic.png"), height: 100% , width: 150, crop: :fill %>
      <% elsif params["category_id"] == "2"%>
        <%= cl_image_tag ("trash-paper.png"), height: 100% , width: 150, crop: :fill %>
      <% elsif params["category_id"] == "3"%>
        <%= cl_image_tag ("trash-glass.png"), height: 100% , width: 150, crop: :fill %>
      <% elsif params["category_id"] == "4"%>
        <%= cl_image_tag ("trash-paper.png"), height: 100% , width: 150, crop: :fill %>
      <% elsif params["category_id"] == "5"%>
        <%= cl_image_tag ("trash-metal.png"), height: 100% , width: 150, crop: :fill %>
      <%= else cl_image_tag ("trash-black.png"), height: 100% , width: 150, crop: :fill %>
      <% end %>

      <div class="card-solution-description">
        <h3>Solution</h3>
        <p><strong> Bien jeter : </strong> <%= @research.solution.bien_jeter %></p>
      </div>
    </div>
  </div>
