<!DOCTYPE html>
<html>
  <head>
    <title>R3 is the best recycling app !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <meta property="og:title" content="How to Become an SEO Expert (8 Steps)" />
    <meta property="og:description" content="Get from SEO newbie to SEO pro in 8 simple steps." />
    <meta property="og:url" content="How to Become an SEO Expert (8 Steps)" />
    <meta property="og:type" content="How to Become an SEO Expert (8 Steps)" />
    <meta property="og:image" content="https://ahrefs.com/blog/wp-content/uploads/2019/12/fb-how-to-become-an-seo-expert.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/navbar' %>
  </body>
</html>
