<!DOCTYPE html>
<html>
  <head>
    <title>R3 is the best recycling app !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <meta property="og:title" content="R3, recycle, reuse, reduce" />
    <meta property="og:description" content="R3 will help you to find the best way to recycle your rubish. You can also play our awesome recycle games !" />
    <meta property="og:url" content="https://r3-project.herokuapp.com/" />
    <meta property="og:type" content="web application" />
    <meta property="og:image" content="https://res.cloudinary.com/dke9sx7vr/image/upload/v1622732339/What-Are-Recycling-Dos-and-Donts-in-Ontario--Fixing-A-Waste-Problem_c9hoie.jpg" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/navbar' %>
  </body>
</html>
